# .github/CODEOWNERS
*               @TB-DevAcc
backend/        @TB-DevAcc @NJBodam @gb-dev04
frontend/       @TB-DevAcc @anushadagar1407 @beydaboran
db/             @TB-DevAcc @Aqibkhan2023 @tbgaripov
.github/        @TB-DevAcc