# ==========================
# Java / Maven
# ==========================
target/
*.class
*.jar
*.war
*.ear

# ==========================
# Node / Frontend
# ==========================
node_modules/
dist/
build/

# Postman local collection-run artifacts
postman-cli-reports/
*.collection-run-summary.yaml
*.collection-run-executions.yaml
.next/

# ==========================
# IDE
# ==========================
.idea/
*.iml
.vscode/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment files
# ==========================
.env
.env.*
